.history*
.direnv*

# Android
/build/
/idea/
*.iml
local.properties
/app/build/
*.gradle
*.ipr
*.keystore
/app/.gradle/
/gradle/wrapper/
*.log
*.so
*.o
*.a
android/build/
android/.gradle/
android/app/build/

# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.expo/
.expo-shared/

# Metro
.metro-health-check*

# Environment
.env
.env.local

# Byte
.byte/cache/*
.byte/session_context/*

